<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ block "description" . }}{{ with .Params.summary }}{{ . }} | {{ end }}{{ with .Params.description }}{{ . }} | {{ end }}{{ .Site.Params.description }}{{ end }}">
  <meta name="keywords" content="{{ block "tags" . }}{{ with .Site.Params.tags }}{{ delimit . ", "}}, {{ end }}{{ with .Params.tags }}{{ delimit . ", "}}{{ end }}{{ end }}">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ $style := resources.Get "dist/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="apple-touch-icon" sizes="180x180" href="//cdn3.aoe.com/typo3conf/ext/aoeweb_base/Resources/Public/Images/Favicons/aoe/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//cdn1.aoe.com/typo3conf/ext/aoeweb_base/Resources/Public/Images/Favicons/aoe/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//cdn2.aoe.com/typo3conf/ext/aoeweb_base/Resources/Public/Images/Favicons/aoe/favicon-16x16.png">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/brands.min.css" rel="stylesheet" as="style">
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" as="style">
</head>

<body class="text-aoe-gray-dark bg-white text-lg">
  <div class="shadow-header inset-x-0 h-24">
    <div class="container mx-auto p-8">
      <a href="/">
        <img src="https://cdn4.aoe.com/typo3conf/ext/aoeweb_base/Resources/Public/Images/Logos/aoe_blue.svg"
          class="h-12 float-left pr-4" width="136" height="48" alt="AOE" />
        <div class="text-3xl">
          ❤️ Open Source
        </div>
      </a>
    </div>
  </div>

  <div class="min-h-screen">
    {{ block "main" . }}{{ end }}
  </div>

  <div class="bg-aoe-gray">
    <div class="container">
      <div class="flex flex-row mx-auto prose lg:prose-xl md:prose-lg">
        <img src="https://cdn4.aoe.com/typo3conf/ext/aoeweb_base/Resources/Public/Images/Logos/aoe_blue.svg"
          class="basis-1/6 h-10" width="122" height="40" alt="AOE" />
        <div class="basis-5/6 text-aoe-gray-dark text-sm pl-4">
          AOE is a leading global provider of services for digital transformation and digital business models. AOE relies
          exclusively on established Enterprise Open Source technologies. This leads to innovative solutions, digital
          products
          and portals in agile software projects, and helps build long-lasting, strategic partnerships with our customers.
        </div>
      </div>
      <div class="pt-8 text-3xl text-aoe-dark-blue text-center">
        <a href="https://www.facebook.com/aoepeople" target="_blank" class="mx-2 md:mx-8" aria-label="Facebook" rel="noreferrer">
          <span class="fab fa-facebook-f"></span>
        </a>
        <a href="https://twitter.com/aoepeople" target="_blank" class="mx-2 md:mx-8" aria-label="Twitter" rel="noreferrer">
          <span class="fab fa-twitter"></span>
        </a>
        <a href="https://www.linkedin.com/company/aoe" target="_blank" class="mx-2 md:mx-8" aria-label="Linkedin" rel="noreferrer">
          <span class="fab fa-linkedin-in"></span>
        </a>
        <a href="https://www.xing.com/company/aoe" target="_blank" class="mx-2 md:mx-8" aria-label="Xing" rel="noreferrer">
          <span class="fab fa-xing"></span>
        </a>
        <a href="https://www.instagram.com/aoepeople" target="_blank" class="mx-2 md:mx-8" aria-label="Instagram" rel="noreferrer">
          <span class="fab fa-instagram"></span>
        </a>
        <a href="https://www.youtube.com/user/aoepeople" target="_blank" class="mx-2 md:mx-8" aria-label="Youtube" rel="noreferrer">
          <span class="fab fa-youtube"></span>
        </a>
        <a href="https://github.com/AOEpeople/" target="_blank" class="mx-2 md:mx-8" aria-label="Github" rel="noreferrer">
          <span class="fab fa-github"></span>
        </a>
      </div>
      <div class="pt-8 text-center text-sm">
        <a href="https://www.aoe.com/en/imprint.html" class="text-aoe-dark-blue">Legal Information</a>
      </div>
    </div>
  </div>
</body>

</html>
