{{ define "main" }}
<div class="bg-gradient-gray-light">
  <div class="container text-center">
    <h2>{{ .Title }}</h2>
    <div class="meta font-medium text-aoe-gray-medium">{{ .Date.Format "2006-01-02" }}, by </div>
    <div class="meta font-bold aoe-gray-dark">{{ .Params.author }}</div>
  </div>
</div>

<div class="bg-gradient-gray-light">
  <div class="container">
    <div class="mx-auto prose lg:prose-xl md:prose-lg text-aoe-gray-dark text-lg">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
