<div class="mx-auto overflow-hidden pt-8">
    <div class="md:flex">
        <div class="md:shrink-0">
            {{ partial "image" . }}
        </div>
        <div class="md:pl-8">
            <div class="text-2xl text-blue-900 py-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <hr />
            <div class="italic text-gray-600 text-sm">
                {{ .Date.Format "2006-01-02" }}, by {{ .Params.author }}
            </div>
            <div class="italic text-gray-600 text-lg py-2">
                {{ .Summary }}
            </div>
        </div>
    </div>
</div>
